NODE_ENV=development
PORT=3000
ACCESS_TOKEN_LIFETIME_MIN=60
REFRESH_TOKEN_LIFETIME_MIN=5
SECRET_HEX=7472756546692d7661756c742d4465716f6465

#DATABASE
DB_CONNECTION=postgres
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nestjs-boilerplate
DB_PORT=5432
